@charset "UTF-8";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --verde: #283C25;
    --bege: #E2D6C3;
    --branco: #FFFF;
    --cinza: #797979;
}

/*------------------SERVICOS-------------------*/
.titulo{
    font-size: 24px;
    color: var(--verde);
    padding: 3rem 0rem;
    text-align: center;
}
.servicos-container{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 220px)); */
    /* grid-template-rows: repeat(2, 1fr); */
    /* justify-content: stretch; */
    gap: 20px;
    padding: 0 20px;
}

.card-servicos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    
    background-color: var(--verde);
    border-radius: 10px;
    width: 100%;
    min-height: 120px;
    min-width: 200px;
    max-width: 300px;
    padding: 15px;
}

.card-servicos:nth-child(odd) {

  justify-self: end; /* encosta na direita */

}

.card-servicos:nth-child(even) {

  justify-self: start; /* encosta na esquerda */

}

.card-servicos h2{
    color: var(--branco);
    padding-bottom: 8px;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}


.card-servicos p{
    font-size: 1rem;
    color: var(--bege);
    font-weight: 500;
}

@media screen and (min-width:1024px) {
   .servicos-container {
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    padding: 0 60px;
  }

  .card-servicos {
    grid-column: auto;
    max-width: none;
    width: 100%;
    justify-self: stretch;
  }

}














/* .servicos h2{
    color: var(--verde);
    text-align: center;
    font-size: 20px;
    padding: 3rem 0 3rem 0;
}

.servicos-container{
    display: grid;
    grid-template-columns: repeat(2, 190px);
    justify-content: center;
    gap: 20px;
}




.servicos-container .card-servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    border-radius: 10px;
    max-width: 190px;
    max-height: 90px;
}

.servicos-container .titulo-card{
    color: var(--branco);
    font-size: 18px;
    font-weight: 600;
} */