@charset "UTF-8";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --verde: #283C25;
    --bege: #E2D6C3;
    --branco: #FFFF;
    --cinza: #797979;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--cinza);
}

header{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 400;
    padding: 15px 60px;
}

nav.menu ul{
    display: flex;
    list-style: none;
    gap: 60px;
}

nav.menu a{
    text-decoration: none;
    color: var(--branco);
}

nav.menu a:hover{
    color: var(--bege);
}


main{
    display: grid;
    background-color: var(--branco);
    grid-template-columns: 1fr;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bege);
    border: 5px solid green;
    width: 100vw;
    overflow: hidden;
    min-height: 691px;
}

.hero-img img{
    max-width: 379px;
      position: absolute;

  bottom: 0;

  right: 0;

  width: 80%;

  z-index: 1; /* atrás do texto */
}

.info-hero .logo{
    display: flex;
    margin: auto;
    padding: 35px;
    max-width: 400px;
}

.info-hero h1{
    padding: 0px 16px 12px 16px;
    font-size: 1.4rem;
}

.info-hero p{
    padding: 0px 16px 35px 16px;
    font-size: medium;
}

.info-hero a{
  text-decoration: none;
  background-color: var(--verde);
  color: var(--branco);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 10px;
  margin-left: 16px;
}


.info{
      height: 100%;

  object-fit: cover;
}

.sobre-container img{
    max-width: 80vw;
}


/* ------------------------------- */
/* .hero{
    width: 100vw;
    position: relative;
    padding: 20px;
    background-color: var(--bege);
    overflow: hidden;
}

.info-hero{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.info-hero img{
    grid-template-columns: ;
    display: flex;
    max-width: 500px;
    justify-content: center;
}

.info-hero a{
    text-decoration: none;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
}

.hero-img{
    position: relative;
    width: 100%;
    z-index: 1;
} */